
@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

.header_area .container .separating_line{
    padding: 15px 0 0 0;
    background: var(--dark-blue);
}

.header_area .main_menu .navbar .navbar-brand{
    padding: 0 2rem 0 2rem;
}

.header_area .main_menu .navbar{
    padding: 1rem 10rem;
    background: white;
}

.header_area .main_menu .nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.25rem 1.7rem 0.25rem 1.7rem;
    color:var(--dark-blue);
    font-weight: bold;
}

.header_area .main_menu .navbar-nav .active a{
    color:white;
    background-color:var(--dark-blue);
    border-radius: 10px;
}

.header_area .main_menu .navbar-nav a:hover{
    color:var(--peach-juicy);
}

.carousel-item >img{
    min-height : 400px;
    max-height : 400px;
    width : auto;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.carousel-control-prev{
    color: var(--dark-blue);
}

.carousel-control-next{
    color: var(--dark-blue);
}

.about-area{
    background-color:var(--dark-blue);
    color: white;
}

.para {
    text-align: justify;
    text-justify: inter-word;
}


.about-image{
    font-size: 15rem; 
    color: white;
    text-align:center;
    height: 100%;
    position: relative
}

.about-image i {
    margin: 0;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%)
}

.projects .container{
    width: 100%;
    text-align:center;
}

.contact-area{
    background-color:var(--dark-blue);
    color: white;
}

#contact .text-uppercase{
    margin: 2rem 0 0 0;
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}