

.title-text{
    text-transform: uppercase;
}


.button{
    padding: 8ren 2.2rem;
    font: normal 500 16px/20px var(--my-font);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

